.dummy-create {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .create-modal {
        background-color: white;
        padding: 3rem;
        position: absolute;
        right: 25%;
        width: 40vw;
        padding-top: 64px;
    
        .title-create {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    
        .desc-create {
            padding: 10px;
            display: flex;
            flex-direction: column;
        }
    
        textarea {
            resize: none;
        }
    
        label {
            margin: 5px;
            margin-left: 0;
        }
    
        textarea,
        input {
            font-family: 'poppins', sans-serif;
            font-size: smaller;
            box-sizing: border-box;
            outline: none !important;
            border: solid 1px #53a8b6;
            padding: 7px;
    
            &:focus {
                border: solid 2px #53a8b6;
            }
        }
    
        .modal-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}