.login-page {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(171, 171, 171);
}

.login-form {
    background-color: white;
    padding: 3rem;
    position: absolute;
    right: 25%;
    width: 40vw;
    padding-top: 64px;


    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
    }

    .email-input, .pwd-input {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    // textarea {
    //     resize: none;
    // }

    label {
        margin: 5px;
        margin-left: 0;
    }

    input {
        font-family: 'poppins', sans-serif;
        font-size: smaller;
        box-sizing: border-box;
        outline: none !important;
        border: solid 1px #53a8b6;
        padding: 7px;

        &:focus {
            border: solid 2px #53a8b6;

            &:invalid {
                border: dashed 2px rgb(183, 58, 58);
            }
        }
    }

    button {
        min-width: 100px;
        max-width: 200px;
        font-weight: bolder;
        font-family: 'poppins', sans-serif;
        padding: .5rem;
        margin: 1rem;
        border: 2px solid #53a8b6;
        color: #53a8b6;
        background-color: #edfdff;
        border-radius: 5px;
        align-self: center;
        cursor: pointer;

        &:disabled {
            cursor: default;
            border-color: rgb(231, 21, 21);
            color: rgb(231, 21, 21);
            background-color: rgb(255, 231, 231);
        }
    }

    .fail-msg {
        color: #53a8b6;
        font-weight: bolder;
    }
}